body {
    background-color: black;
    color: white;
}
.o-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.o-banner {
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgb(179, 180, 169);
    padding: 5px;
    border-radius: 10px;
}

.o-video {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-link:visited  {
    color: black;
}
.a-link:link {
    color: black;
}
.a-link:hover {
    color: white;
    text-decoration: none;
}
.active {
    border-bottom: 2px solid black;
}